#!/bin/bash

export JCLOUDS_PROVIDER=azureblob
export JCLOUDS_IDENTITY=<AZURE_BLOBSTORE_HERE>
export JCLOUDS_CREDENTIAL=<AZURE_ACCESS_KEY_1>

export S3PROXY_AUTHORIZATION=AWS_V2_OR_V4
export S3PROXY_IDENTITY=local-identity
export S3PROXY_CREDENTIAL=local-credential
export S3PROXY_VIRTUALHOST=<DOMAIN_FOR_S3PROXY>
export S3PROXY_ENDPOINT=http://0.0.0.0:8080
export S3PROXY_CORS_ALLOW_ALL=true
export S3PROXY_IGNORE_UNKNOWN_HEADERS=true

java -jar target/s3proxyboot-0.0.1-SNAPSHOT.jar

